
body {
 background-color: rgb(30,10,100);
 background-image:
  url(http://localhost:8080/ipfs/Qma3cB2TariMXZCNh9GwBAqJMdD5tpxdrGoZVcnrNYXoQy/crystalbox.png),
  linear-gradient(to right, white,lightblue);
  
 background-size: auto 100%;
 background-size: 100% auto;

}
.first {
 /*
 */
 background-color: rgba(12,25,28,0.80);
 color: white;
 
}
pre {
 background-color: lightgray;
 overflow: auto;
}


div {
 text-align: justify;
 overflow: hidden;
 background-color: rgba(251,248,255,0.96);
 opacity: 0.96;
}

div.content {
 border: 1px dashed lightgrey;
 font-size: 18px;
 width: 80%;
 margin: auto;
}

.figure {
 display: block;
 float: right;
 margin: unset;
}
img { max-height: 50vh; }
.dbug {
 border: 1px dashed purple;
}
