<!DOCTYPE html>
<!--
--- 
font-readable: Josefin Slab
css: style.css
---
-->
<head>
<meta charset="utf8"/>
<title>$title$ ~ $author$ @ $hdate$</title>
<meta name="description" content="$subtitle$. Today's: $abstract$; #code5: coding in html5" />
<meta name="keywords" content="$keywords$" />
<style>
body {
  background-image: linear-gradient(to right, white,lightblue);
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-position: bottom right, center;
  background-size: 100vw 100vh;
  font-family: Verdana;
}
.subtitle { font-size: 0.5em; }
div {
 font-family: {{font-readable}};
 margin: auto;
 padding: 1em;
 text-align: justify;
}
img { max-height: 720px; padding: 1.2rem; }
.first img { float: left; max-height: 120px !important; }
#preview { position: fixed; float: right; padding: 0; }
#preview img { display:none }
#thmb {
 max-width: 50%;
}
</style>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family={{font-readable}}">
<link href="{{css}}" rel="stylesheet" type="text/css" media="all">
$if(bgimg)$<style>
body {
  background-image: URL($bgimg$)
}</style>$endif$
</head>
<body>
<div id="preview">$if(preview)$<img src="$preview$" alt="$title$"/>$endif$</div>
<div class="first content">
$if(logo)$
<img id=logo src=$logo$ alt="$name$">
$else$
<img id=logo src=https://cdn.statically.io/img/ipfs.blockringtm.ml/ipfs/Z5wZ9oUSpsyhALkySLMTefDHVXYgTSY8nAPCx3vxLRgKnRrdyUyd34WAKjVe2pbLGSHvfZ/code5.png>
$endif$
<h1>
$title$<br><small class=subtitle><i>$subtitle$</i></small></h1>
$abstract$
</div>
<br>
<div class="content">
$if(thumbnail)$<img style="float:right" id="thmb" src="$thumbnail$" alt="$title$"/>$endif$
$body$
</div>
<hr>
$keywords$
</body>

<script src=effect.js type="text/javascript">
 alert("ahah this code is not executed !")
</script>
